.f_p {
    font-family: Hammersmith One;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
    text-align: left;
    // color: linear-gradient(90deg, #EBE2F4 0%, #14FF00 100%);
    color: yellowgreen;

}

.service {
    display: flex;
    flex-direction: column;
    gap: 29px;

    p {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: left;
        color: white;
    }

    .ull {
        display: flex;
        flex-direction: column;
        gap: 19px;

        li {
            color: white;
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.78px;
            text-align: left;

        }
    }
}

.end_part {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .paragraph {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.78px;

    }
}

.f_p{
    background: linear-gradient(90deg, #EBE2F4 0%, #14FF00 100%);
    color: transparent;
    background-clip: text;
    font-size: 400;

}